@font-face {
	src : url('fonts/Lato-Black.ttf');
	font-family: Lato Black;
}

@font-face {
	src : url('fonts/Lato-Light.ttf');
	font-family: Lato Light ;
}
@font-face {
	src : url('fonts/Lato-LightItalic.ttf');
	font-family: Lato-LightItalic ;
}


@font-face {
	src : url('fonts/Roboto-Bold.ttf');
	font-family: Roboto Bold;
}

@font-face {
	src : url('fonts/Roboto-Thin.ttf');
	font-family: Roboto Thin;
}




body{
	background-color: gray;
	font-family: 'Lato', sans-serif;
}
.header{
	background-color: #fff;
	overflow: hidden;
	padding-top: 10px;
}

.mid{
	width: 80%;
	margin: auto;
}

.logo {
	width: 30%;
	float: left;
}

.social-area {
	width: 70%;
	float: left;
	text-align: right;
	margin-top: 13px;

}

.skype, .cell , .social-icon {
	display: inline-block;
	padding: 10px 10px;
	border-right: 1px solid #d5d5d5;
	font-size: 14px;
	color: #032f3e;
}

.skype {
	border-left:  1px solid #d5d5d5 ;
}

.social-icon ul li {
	display: inline-block;
}

.social-icon ul li a {
	display: block; 
	padding: 0px 10px;
	color: #032f3e;
}

.skype i, 
.cell i {
	color: #ab987a;
	margin-right: 5px;
} 




/* menu style start from here */

.menu {
	background-color: #032f3e;
}
.menu ul{
	text-align: center;
}

.menu ul li{
	display: inline-block;
	width: 16.2%;
	border-right: 1px solid #0d3948;
}
.menu ul li a{
	color: #FFF;
	padding: 20px 0px;
	display: block;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
}

.menu ul li:first-child {
	border-left: 1px solid #0d3948 ;
}

.menu ul li a:hover  {
	color: #ab987a;
}

.header-banner {
	height: 600px;
	background-image: url(images/header.jpg);
	background-size: cover;
	overflow: hidden;
	position: relative;
}
.blr {
	height: 100%;
	width: 100%;
	background-color:  rgba(0, 0, 0, .6);
	overflow: hidden;

}

.header-content {
	text-align: right;
	color: #FFF;
	margin-top: 300px;
}

.header-content  h2{
	text-transform: uppercase; 
	font-size: 35px;
	font-family: Roboto Bold;
}

.header-content  h3{
	text-transform: uppercase; 
	font-size: 40px;
	font-family: Roboto Thin;
}

.header-content   a{
	display: inline-block;
	padding: 20px 40px;
	background-color: #032f3e;
	margin-top: 30px;
}

.service {
	background-color: #f8f9fb;
	padding: 100px 0px;
}

.service h2{
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	color: #032f3e;
	font-family: Roboto Bold;
}

.service hr {
	width: 50px;
	border-top: none;
	border-bottom: 3px solid #ab987a;
	margin: 20px auto;
}

.service p{
	text-align: center;
	color: #616161;
}

.service-area {
	margin-top: 80px;
	text-align: center;
}

.service-box {
	width: 30%;
	display: inline-block; 

}

.service-icon {
	width: 100px;
	height: 100px;
	border: 1px solid #b09e83;
	margin: auto;
	border-radius: 50%;
	position: relative;
	margin-bottom: 30px;
}
.service-icon img{
	width: 30px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
}

.service-box h3{
	text-align: center; 
	text-transform: uppercase; 
	font-size: 18px;
	color: #032f3e;
}

.header-banner > img {
	position: absolute;
	bottom: -6px;
	left: 0px;
	right: 0px;
	margin: auto;
}

.header-banner  > a{
	position: absolute;
	bottom: 7px;
	left: 0px;
	right: 0px;
	margin: auto;
	display: block;
	text-align: center; 

}


.lessons {
	padding: 100px 0px;
	background-color: #032f3e;
}

.lessons h2{
	font-size: 30px;
	text-transform: uppercase; 
	color: #FFF;
	font-family: Roboto Bold;
}

.lessons h3{
	font-size: 30px;
	text-transform: uppercase; 
	color: #FFF;
	font-family: Roboto Thin;
	margin-top: 10px;

}

.lesson-area {
	margin-top: 50px;

}
.lesson-area  ul li{
	margin: 25px 0px;
	width: 60%;
}

.lesson-area  ul li hr {
	width: 40px;
	border-top: none;
	border-bottom: 1px solid #d5d5d5;
	transform: rotate(90deg);
	margin-left: -7px;

}

.lesson-area  ul li i {
	width: 100px;
	font-size: 40px;
	color: #ab987a;
	vertical-align: middle;
}

.lesson-area  ul li span {
	text-transform: uppercase; 
	font-family: Roboto Bold;
	color: #FFF;
	width: 60%;
	display: inline-block;
	line-height: 1.7;
	vertical-align: middle;

}

/* Footer style start */

.footer-top {
	background-color: #0d3542;
	padding: 100px 0px;
	
}

.footer-top:after {
	display: block; 
	content:'';
	clear: both;

} 

.footer-box {
	width: 33.33%;
	float: left;
}

.footer-box p{
	color: #FFF;
	margin-bottom: 10px;
	width: 70%;
	font-family: Lato Light ;
	font-size: 14px;
}

.footer-box img{
	margin-bottom: 20px;
}

.footer-box h2 {
	color: #FFF;
	font-size: 16px;
	text-transform: uppercase;
	font-family: Roboto Bold;
}

.footer-box hr {
	width: 50px;
	border-top: none;
	border-bottom: 4px solid #ab987a;
	margin: 10px 0px;
}

.footer-box ul {
	margin-top: 30px;
}

.footer-box ul li{
	margin: 20px 0px;
	color: #FFF;
	font-family: Lato Light ;
	font-size: 14px;

}

.footer-box ul li i {
	width: 25px;
	vertical-align: middle;
	color: #ab987a;
	font-size: 16px;
}

.news:nth-child(3) {
	margin-top: 30px;
}

.news span {
	color: #ab987a;
	font-family: Lato Light ;
	font-size: 13px;
}
.news h3{
	font-family: Lato Black ;
	color: #FFF;
	margin: 4px 0px;
}







.footer-bottom {
	background-color: #032f3e;
	padding: 20px;

}
.footer-bottom:after{
	clear: both;

	display: block; 
	content:'';
}

.bottom-left {
	width: 50%;
	float: left;
}

.bottom-left p {
	color: #5f737a;
	font-size: 13px;
	font-family: Roboto Thin;
	padding: 10px 0px;

}
.bottom-right {
	width: 50%;
	float: left;
}

.bottom-right ul {
	text-align: right;
}

.bottom-right ul li{
	display: inline-block;
}

.bottom-right ul li a{
	display: block; 
	padding: 10px;
	color: #5f737a;
}


/* Footer style end */

.map {
	border-top: 10px solid #ab987a;
	position: relative;
}
.map img{
	position: absolute; 
	top: -41px;
	left: 0px;
	right: 0px;
	margin: auto;
}
.map iframe {
	height: 500px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: none;
}


.testimonial {
	background-image: url(images/pat.png);
	padding: 100px 0px;
}

.testimonial h2 {
	text-align: center; 
	font-family: Roboto Bold;
	color: #032f3e;
	font-size: 30px;
	text-transform: uppercase;
}

.testimonial hr {
	width: 50px;
	margin:20px  auto; 
	border-top: none;
	border-bottom: 3px solid #ab987a;

}

.testimonial-box {
	margin-top: 50px;
	position: relative;
}

.testimonial-box img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: auto; 
	display: block;
	border: 5px solid #ab987a;
}

.testimonial-box p {
	width: 60%;
	margin: auto; 
	font-style: italic;
	text-align: center;
	font-family: Lato-LightItalic ;
	font-size: 18px;
	margin-top: 20px;
	color: #616161;
}

.testimonial-box  h3{
	text-align: center; 
	color: #032f3e;
	font-size: 24px;
	margin-top: 20px;
	font-family: Roboto Bold;
}

.testimonial-box  h4 {
	color: #ab987a;
	text-align: center; 
	font-size: 18px;
	font-family: Roboto Thin;
}

a.next, a.prev {
	display: block;
	height: 40px;
	width: 50px;
	border: 3px solid #ab987a;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	color: #ab987a;
}

a.next i, a.prev i {
	margin-top: 10px;
}

a.next  {
	position: absolute; 
	top: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
}

a.prev  {
	position: absolute; 
	top: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
}

.call-us {
	background-image: url(images/call.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.blr2 {
	height: 100%;
	width: 100%;
	background-color:  rgba(0, 0, 0, .5);
	padding: 50px 0px;
}



.blr2:after {
	content: '';
	display: block; 
	clear: both;
}
.call-left {
	width: 40% ;
	float: left;
}

.call-right {
	width: 60% ;
	float: left;
}


.call-left:after {
	content:'';
	display: block; 
	clear: both;
}

.call-left .icon {
	width: 100px;
	font-size: 100px;
	float: left;
	color: #032f3e;

}

.call-info {
	width: 70%;
	float: left;
}

.call-info h2{
	font-size: 30px;
	font-family: Roboto Bold;
	color: #FFF;
	text-transform: uppercase;
}

.call-info p{
	font-size: 35px;
	font-family: Roboto Thin;
	color: #FFF;
	text-transform: uppercase;
}
.call-right {
	text-align: right;
}

.call-right a{
	display: inline-block; 
	padding: 10px 20px;
	color: #032f3e;
	border: 3px solid #032f3e;
	margin-top: 32px;
	font-weight: bold;
}

.call-right a:hover {
	background-color: #032f3e;
	color: #FFF;
}